body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0;
}

main {
    padding: 20px;
}

.about-me, .discord-server, .contact, .social-media {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media li {
    display: inline-block;
    margin-right: 20px;
}

.social-media a {
    color: #007bff;
    text-decoration: none;
}

.social-media a:hover {
    color: #0056b3;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}
